header(role="banner", class=type)

	#header-top
		if (lang == 'en')
			a.l-noline.q-min_tablet(href="index_eng.html") DAO «Integrated Program for Climate Initiatives»
			a.l-noline.q-mobile(href="index_eng.html") DAO «IPCI»
		else
			a.l-noline.q-min_tablet(href="index.html") ДАО «Программа интеграции климатических инициатив»
			a.l-noline.q-mobile(href="index.html") ДАО «ПИКИ»

		.b-inline
			.dropdown.dropdown-select_light(tabindex="1")
				if (lang == 'en')
					a(href="javascript:;").dropdown__toggle 
						| English
						span.i-arrow
					.dropdown__content.nav-links(tabindex="1")
						a.active(href="index_eng.html") English
						a(href="index.html") Русский
				else
					a(href="javascript:;").dropdown__toggle 
						| Русский
						span.i-arrow
					.dropdown__content.nav-links
						a.active(href="index.html") Русский
						a(href="index_eng.html") English



			.dropdown.dropdown-menu(tabindex="0")
				a(href="javascript:;").dropdown__toggle.hamburger
					span.line
					span.line
					span.line
				.dropdown__content(tabindex="1")
					if (lang == 'en')
						.nav-links.section
							a(href="about.html") About
							a(href="news.html") News and articles
							a(href="docs.html") Documents
							a(href="press.html") Press
							a(href="contacts.html") Contacts

						.nav-links.section
							a(href="contacts.html#contact-form") Our expert consultation
							a(href="#") Try DAO IPCI
							a(href="#") Repository GitHub

					else
						.nav-links.section
							a(href="/") Главная
							a(href="about.html") О программе
							a(href="team.html") Команда
							a(href="news.html") Новости и статьи
							a(href="docs.html") Документы
							a(href="press.html") Пресса о нас
							a(href="contacts.html") Контакты

						.nav-links.section
							a(href="demo.html") Демо
							a(href="contacts.html#contact-form") Консультация специалиста

						.nav-links.section
							a(href="https://www.gitbook.com/book/galenovich/dao-ipci-manual/details", target="_blank") Руководство на GitBook
								//- span.i-away.d-ib
							a(href="https://github.com/airalab/DAO-IPCI", target="_blank") Релизы на GitHub


	.setw
		if (type == 'screen')
			#header-title DAO IPCI
		h1 #{text}
		if (type == 'screen')
			if (!moretext)
				.t-center
					if (lang == 'en')
						a.header-l-orange(href="#{more}", target="_blank") White Paper 3.1
					else
						a.header-l-orange(href="#{more}", target="_blank") White Paper 3.1
			else
				.t-center
					a.btn-primary(href="#{more}") #{moretext}

	if (canvas == 'true')
		script(src='assets/js/canvas.min.js?v=1')
		#header-canvas
			canvas#canvasDots

	if (back)
		.header_back.header_back-custom(style="background-image:url(#{back});")
	else
		.header_back



if (lang == 'en')
	//[if lte IE 9]><div id="oldiebrowser"><h2>Dear user, you are using an old version of browser</h2><p>For more pleasant experience with this website, please, open this webpage in one of modern browsers (e.g., newest versions of Microsoft Edge, Google Chrome, Mozilla Firefox, Safari, Opera).</p></div><![endif]
else
	//[if lte IE 9]><div id="oldiebrowser"><h2>Уважаемый пользователь, вы используете сильно устаревшую версию браузера</h2><p>Для полнценной и более приятной работы с нашим сайтом, пожалуйста, обновите свой браузер до новой версии. Или скачайте новую версию браузера другой компании из официальных источников (например, Microsoft Edge, Google Chrome, Yandex браузер, Mozilla Firefox, Safari, Opera).</p></div><![endif]
